
.login-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0f2ff, #cce7ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    display: flex;
    width: 900px;
    height: 500px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-left {
    width: 50%;
    padding: 50px;
}

.login-left h2 {
    margin-bottom: 5px;
}

.login-sub {
    color: #666;
    margin-bottom: 30px;
}

.login-left label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.login-left input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.forgot {
    display: block;
    margin-top: 10px;
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0056b3;
}

.signup-text {
    text-align: center;
    margin-top: 25px;
    color: #666;
}

.signup-text span {
    color: #007bff;
    cursor: pointer;
}

/* RIGHT PANEL */
.login-right {
    width: 50%;
    background: linear-gradient(to bottom right, #1e90ff, #6bbcff);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    font-size: 28px;
    line-height: 1.3;
}

.login-right p {
    margin-top: 15px;
    font-size: 18px;
}
