{% include'header.html' %}

<body>

<!-- AI animated background -->
<div class="bg-circles">
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- Navbar -->
<nav>
    <h1>AI Study Planner</h1>
    <!-- <a href="/" style="text-decoration: none; background-color: orangered; color: black; padding: 5px 8px; border-radius: 5px; border: none;">Login</a> -->
</nav>
<div class="main" style="display: flex; flex-direction: column; justify-content: center;">
 
<h1 style="text-align: center;">Generate Timetable</h1>
<form action="/timetable" method="post" style="height: 80%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;" >
 <input type="text" name="subjects" placeholder="Maths, Physics, AI"
           style="width:50%; padding:10px; margin:10px 0 15px;
                  border-radius:8px; border:1px solid #999;" required>
<input type="number" name="time_value" placeholder="Enter number of Hours"
           style="width:50%; padding:10px; margin:10px 0;
                  border-radius:8px; border:1px solid #999;" required>
<select name="time_unit"
            style="width:50%; padding:10px; margin-bottom:15px;
                   border-radius:8px; border:1px solid #999;">
        <option value="hours">Today</option>
        <option value="days">week</option>
        <option value="months">Months</option>
    </select><br>
<label style="font-weight:600;">Time Allocation Method</label>
    <div style="margin:10px 0 20px;">
        <input type="radio" name="allocation" value="ai" checked>
        <label> AI will generate timetable</label>
        <br><br>
        <input type="radio" name="allocation" value="equal">
        <label> Equal time for all subjects</label>
    </div>
    <input type="submit" value="Generate Time Table"
           style="
             width:50%;
             padding:12px;
             border:none;
             border-radius:8px;
             background:#4a63f2;
             color:white;
             font-size:16px;
             cursor:pointer;
           ">   
</form>

   
</div>
<footer>
    © 2025 AI Study Planner | Smart Learning with AI
</footer>

</body>
</html>